<div class="container">
  <h1 class="text-center">Long links breaking your messaging service? We've got your back.</h1>
  <p>Welcome to a super simple and easy to use URL shortener. Never again do you need to send a link to your friend that spans multiple pages.
  With shorten.me you can get those quick and lovely short links in a blink of an eye.</p>
  <%= link_to "Get Started", new_user_registration_path, class: "btn btn-success btn-lg"  %>
</div>