<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.6),rgba(0,0,0,0.6)), url(http://res.cloudinary.com/dx6rtf9wl/image/upload/c_crop,h_1322,w_3940,x_263,y_271/v1622209824/surf-internet-url-henrik5000-e-getty-images-56fa7f855f9b5829867282a9_ppqc2j.jpg);">
  <div class="container">
    <h1 class="mb-2">Long links breaking your messaging services? We've got your back.</h1>
    <p>Welcome to a super simple and easy to use URL shortener. Never again do you need to send a link to your friend that spans multiple pages.
      With shorten.me you can get those quick and lovely short links in a blink of an eye.</p>
    <%= link_to "Get Started", new_user_registration_path, class: "btn btn-success btn-lg mt-3 p-3" %>
  </div>
</div>
<div class="container mb-4">

  <h3 class="text-center m-4">Why use shorten.me?</h3>
  <div class="grid">
    <div>
    <img src="https://res.cloudinary.com/dx6rtf9wl/image/upload/v1622291312/Brazuca_-_Browsing_enlfmt.png" alt="Signing up">
    <div class="text-center mt-4">
      <h4 class="mb-4">Easy to get started with</h4>
      <p>Simply sign up, put your link in and press the big green button. That's it. Nothing more to it!</p>
    </div>
    </div>
    <div>
    <img src="https://res.cloudinary.com/dx6rtf9wl/image/upload/v1622291950/Charco_-_Deadline_azct5d.png" alt="No time limits">
      <div class="text-center mt-4">
        <h4 class="mb-4">Links are forever</h4>
        <p>Our links are not time-bound. Once you've generated a short link, it will stay there until you decide to delete it.</p>
      </div>
    </div>
    <div>
    <img src="https://res.cloudinary.com/dx6rtf9wl/image/upload/v1622292443/Amigos_-_Home_Alone_edoxob.png" alt="Free service">
      <div class="text-center mt-4">
        <h4 class="mb-4">It's completely free</h4>
        <p>Our service is completely free for you to use, forever.</p>
      </div>
    </div>
  </div>
</div>
