
<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.6),rgba(0,0,0,0.4)), url(http://res.cloudinary.com/dx6rtf9wl/image/upload/c_crop,h_1322,w_3940,x_263,y_271/v1622209824/surf-internet-url-henrik5000-e-getty-images-56fa7f855f9b5829867282a9_ppqc2j.jpg);">
  <div class="container">
    <h1 class="mb-2">Long links breaking your messaging services? We've got your back.</h1>
    <p>Welcome to a super simple and easy to use URL shortener. Never again do you need to send a link to your friend that spans multiple pages.
      With shorten.me you can get those quick and lovely short links in a blink of an eye.</p>
    <%= link_to "Get Started", new_user_registration_path, class: "btn btn-success btn-lg mt-3"  %>
  </div>
</div>
<p></p>
  
