// Place all the styles related to the links controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

.card {
  height: 180px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: rgb(110, 110, 110);
  border: 1px solid lightgrey;
  border-radius: 5px;
  box-shadow: 0 0 5px rgba(0,0,0,0.3);
  margin: 10px auto;
}