// Place all the styles related to the links controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

.card {
  display: flex;
  justify-content: space-between;
  height: auto;
  width: auto;
  padding: 5px;
  align-items: center;
  color: rgb(110, 110, 110);
  border: 1px solid lightgrey;
  border-radius: 5px;
  box-shadow: 0 0 5px rgba(0,0,0,0.3);
  margin: 10px auto;

  p:last-child {
    margin-bottom: 0;
  }
}

.og-link {
  max-width: 500px;
  text-align: center;
}

.short-link {
  border: 1px solid #28a745;
  border-radius: 5px;
  padding: 5px 10px;
  margin-bottom: 0;
}

.card-close {
  position: absolute;
  top: 5px;
  right: 5px;
}

.visits {
  font-size: 26px;
}