<div class="container">
  <h1>This houses all the links that have already been created by the user</h1>
  <% @links.each do |link| %>
    <p><%= link.long_link %> > <%= link.short_link %> > Clicks on your link: <%= link.counter %></p>
  <% end %>
</div>