.navbar-custom {
  justify-content: space-between;
  background: #ffd351;
}

.navbar-custom .navbar-collapse {
  flex-grow: 0;
}

.navbar-custom .navbar-brand img {
  width: 40px;
}

.nav-color {
  color: rgb(102, 102, 102) !important;
}